fastapi==0.115.12
uvicorn==0.34.2
python-jose==3.4.0
passlib==1.7.4
bcrypt==4.3.0
python-dotenv==1.1.0
email_validator==2.2.0
pymongo==4.13.0
motor==3.7.1
bson==0.5.10
pydantic==2.11.4
pydantic_core==2.33.2
typing_extensions==4.12.2
torch==2.7.0
transformers==4.49.0
diffusers==0.33.1
huggingface-hub==0.29.2
safetensors==0.5.3
pillow==11.2.1
opencv-python==4.11.0.86
requests==2.32.3
python-multipart
